{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">

<style>
$time: 1s;

body {
  height: 100vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: ;
}

#gal {
  display: grid;
  grid-template-rows: repeat(1, 20vh);
  grid-template-columns: repeat(10, 10vw);
  transition: all $time ease(gravity);
  background-color: #995f15;
  border-radius: 5px;
  padding: 0.25em;
  cursor: zoom-in;
  grid-gap: .15em;


}

#img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all $time/2 ease(downhill);
  position: relative;
  box-shadow: 0 0 0 #0000;
  opacity: 0.40;
  filter: sepia(80%) hue-rotate(180deg);
  }


#img:hover {
    opacity: 1;
    box-shadow: 1em 1em 1em #0004;
    transition: all $time ease(downhill);
    filter: sepia(0%) hue-rotate(0deg);
    border-radius: 5px;
    width: 300%;
    height: 400%;
    left: 0%;
    top: -100%;
    position: absolut;

    }



</style>


<br>

<br>
<br>
<div class="container ">
    <div class="row">
        <div class=" col-sm-12 col-md-12 col-lg-4 ">
            <div class="container-sm">
                <!-- Content here -->
                <h1 style=" font-size: 40px; margin: 0px; text-align: left;">MAGLIAMATTA</h1>
                <br/>
                <h2 style="font-size: 20px; margin: 0px; text-align: left; color:#995f15">Produco capi in maglia artigianali, fantasiosi e di buona qualità.
                    Se apprezzi i prodotti hand-made, non omologati dalle
                    catene commerciali e ti piace l’idea di avere un capo unico ... sei nel posto giusto.</h2><br/>
            </div>
        </div>
        <div class="box-video col-sm-12 col-md-12 col-lg-6 ">
            <video id="video" style="width: 100%; height: auto;"  controls Autoplay=autoplay poster="">
                <source src="{% static 'main/MAGLIAMATTA.mov' %}" type="video/mp4">
            </video>
        </div>
    </div>
</div>
<br>
<br>

<div id="gal" class="galleryt">
    <img id="img" src="{% static 'main/g1.jpg' %}" alt=''>
    <img id="img" src="{% static 'main/g2.jpg' %}" alt=''>
    <img id="img" src="{% static 'main/g3.jpg' %}" alt=''>
    <img id="img" src="{% static 'main/g4.jpg' %}" alt=''>
    <img id="img" src="{% static 'main/g5.jpg' %}" alt=''>
    <img id="img" src="{% static 'main/g6.jpg' %}" alt=''>
    <img id="img" src="{% static 'main/g7.jpg' %}" alt=''>
    <img id="img" src="{% static 'main/g8.jpg' %}" alt=''>
    <img id="img" src="{% static 'main/g9.jpg' %}" alt=''>
</div>








<br/>
<br/>
<br/>

<script>
var vid = document.getElementById("video");

  vid.volume = 0.3;

</script>


{% endblock %}

