{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">

<style>
.containerg {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 600px;
}

.boxg {
  flex: 2;
  overflow: hidden;
  transition: .5s;
  margin: 0 5px;
  box-shadow: 0 0px 10px rgba(0,0,0,10);
  line-height: 0;


}

.boxg > img {
  width: 200%;
 //height: calc(100% - 10vh);
  height: calc(100% );
  object-fit: cover;
  transition: .5s;
  opacity: 0.60;
}

.boxg > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.boxg:hover { flex: 1 4 50%; }
.boxg:hover > img {
  width: 150%;
  height: 100%;
  opacity: 1;
}


.containergrid {
  display: grid;
  grid-gap: 35px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 300px;

}

.containergrid > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow:hsl(178, 79%, 47%) 0 0 10px;
}

img {
  border-radius: 15px;

}
.description {
  display: none;
  position: absolute;
}

.containergrid > div:hover {
  transform: scale(1.4);
}
.containergrid > div:hover .description {
  display: block;
  text-align: center;
}

.containergrid > div:hover img {
  opacity: 1.0;
}

.containergrid > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #20263f;
}

</style>


<br>

<br>
<br>
<div class="container ">
    <div class="row">
        <div class=" col-sm-12 col-md-12 col-lg-4 ">
            <div class="container-sm">
                <!-- Content here -->
                <h1 style=" font-size: 40px; margin: 0px; text-align: left;">MAGLIAMATTA</h1>
                <br/>
                <h2 style="font-size: 25px; margin: 0px; text-align: left; color:hsl(178, 79%, 26%)">
                    Mi chiamo Marta ed ho creato il brand MagliaMatta, una produzione artigianale
                    di maglie con vendite private e shop online.</h2>

                <br/>
                <p style="font-size: 20px; line-height: 24px; text-align: left;">
                    </p>
            </div>
        </div>
        <div class="box-video col-sm-12 col-md-12 col-lg-6 ">
            <!--video id="video" style="width: 100%; height: auto;"  controls Autoplay=autoplay poster="{% static 'main/MagliaMatta_poster.jpg' %}">
                <source src="{% static 'main/MagliaMatta_v_md.mp4' %}" type="video/mp4">
                This browser does not support the video file.
            </video-->
            <video id="video" style="width: 100%; height: auto;"  controls  poster="{% static 'main/MagliaMatta_poster.jpg' %}">
                <source src="https://github.com/TiloGenova/Web_Shop_Matta/blob/main/main/static/main/MagliaMatta_v_lo.m4v?raw=true" type="video/mp4">
                This browser does not support the video file.
            </video>
            <!--Hi,Having the same error mentioned above. Just wondering if there have been any changes to this config on server?
            https://developer.apple.com/library/content/documentation/AppleApplications/Reference/SafariWebContent/CreatingVideoforSafarioniPhone/CreatingVideoforSafarioniPhone.html#//apple_ref/doc/uid/TP40006514-SW1
            "HTTP servers hosting media files for iOS must support byte-range requests, which iOS uses to perform random access
            in media playback. (Byte-range support is also known as content-range or partial-range support.)
            Most, but not all, HTTP 1.1 servers already support byte-range requests."-->
        </div>
    </div>
</div>
<br>
<div class="container ">
<p style="font-size: 20px; line-height: 24px; text-align: left;">Produco capi in maglia artigianali e di buona qualità, in lana o cotone o filati misti con lino e cachemire: il mio compito è quello
    di acquistare i filati e disegnare i modelli, mentre  le mie due ottime collaboratrici maglieriste, li realizzano in casa, assemblandoli
    a mano. Dunque per ora il mio “laboratorio” sono le nostre 3 case a Genova…
    Su questo sito puoi trovare e acquistare direttamente i miei prodotti, sempre diversi: quasi mai realizzo due capi uguali. Ad ognuno il suo!</p>

    <p style="font-size: 20px; line-height: 24px; text-align: left;">La caratteristica principale delle mie maglie è la fantasia, nel colore e negli abbinamenti.
    La mia scelta è di favorire il made in Italy, le aziende artigianali e con una filiera produttiva trasparente e sostenibile.
    Se apprezzi i prodotti hand-made, non omologati dalle catene commerciali e ti piace l’idea di avere un capo unico... sei nel posto giusto.</p>

    <p style="font-size: 20px; line-height: 24px; text-align: left;">Seguendo la mia pagina FB o Instagram vedrai quando e dove mi sposto per le mie vendite. Se desideri essere avvisata/o degli eventi
        a cui partecipo scrivimi via e-mail o lasciami un numero telefonico.</p>
    <p style="font-size: 20px; line-height: 24px; text-align: left;"></p>
    <h2 style="font-size: 20px; margin: 0px; text-align: left; color:hsl(178, 79%, 26%)">
        MagliaMatta di Marta Colombo</h2>
</div>


<br><br>
<hr>
<div class="parallax"></div>
<hr>
<br><br>
<div class="container ">
    <div class="row">
        <div class="box-video col-sm-12 col-md-12 col-lg-6 ">
            <!--video id="video" style="width: 100%; height: auto;"  controls Autoplay=autoplay poster="{% static 'main/MagliaMatta_poster.jpg' %}">
                <source src="{% static 'main/MagliaMatta_v_md.mp4' %}" type="video/mp4">
                This browser does not support the video file.
            </video-->
            <video id="video" style="width: 100%; height:  auto;"  controls  poster="{% static 'main/poster_idea.jpg' %}">
                <source src="https://github.com/TiloGenova/Web_Shop_Matta/blob/main/main/static/main/Idea_v.m4v?raw=true" type="video/mp4">
                This browser does not support the video file.
            </video>

        </div>

        <div class=" col-sm-12 col-md-12 col-lg-4 ">
            <div class="container-sm">
                <!-- Content here -->
                <h1 style=" font-size: 30px; margin: 0px; text-align: left;">Come realizzo i miei capi:</h1>

                <h2 style="font-size: 20px; margin: 0px; text-align: left; color:hsl(178, 79%, 45%)"></h2><br/>
                <p style="font-size: 20px; line-height: 24px; text-align: left;">
                    Compro filati di buona qualità in lana o cotone, disegno i modelli e una brava
                    maglierista, ormai collaboratrice stretta, li realizza con la macchina da maglieria in casa, assemblandoli
                    a mano.</p>
            </div>
        </div>

    </div>
</div>
<br>
<br><br>
<div class="container ">
    <div class="row">
        <div class="box-video col-sm-12 col-md-12 col-lg-6 ">
            <!--video id="video" style="width: 100%; height: auto;"  controls Autoplay=autoplay poster="{% static 'main/MagliaMatta_poster.jpg' %}">
                <source src="{% static 'main/MagliaMatta_v_md.mp4' %}" type="video/mp4">
                This browser does not support the video file.
            </video-->
            <video id="video" style="width: 100%; height:  auto;"  controls  poster="{% static 'main/poster3_v.jpg' %}">
                <source src="https://github.com/TiloGenova/Web_Shop_Matta/blob/main/main/static/main/prod3_v.MP4?raw=true" type="video/mp4">
                This browser does not support the video file.
            </video>

        </div>

        <div class=" col-sm-12 col-md-12 col-lg-4 ">
            <div class="container-sm">
                <!-- Content here -->
                <h1 style=" font-size: 30px; margin: 0px; text-align: left;">Scopri come nasce una maglia matta</h1>
                <br/>
                <h2 style="font-size: 20px; margin: 0px; text-align: left; color:hsl(178, 79%, 45%)"></h2><br/>
            </div>
        </div>

    </div>
</div>
<br>
<br>
<div class="container ">
    <div class="row">
        <div class="box-video col-sm-12 col-md-12 col-lg-6 ">
        <!--video id="video" style="width: 100%; height: auto;"  controls Autoplay=autoplay poster="{% static 'main/MagliaMatta_poster.jpg' %}">
            <source src="{% static 'main/MagliaMatta_v_md.mp4' %}" type="video/mp4">
            This browser does not support the video file.
        </video-->
        <video id="video" style="width: 100%; height: auto;"  controls  poster="{% static 'main/poster4_v.jpg' %}">
            <source src="https://github.com/TiloGenova/Web_Shop_Matta/blob/main/main/static/main/prod4_v.MP4?raw=true" type="video/mp4">
            This browser does not support the video file.
        </video>

    </div>
        <div class=" col-sm-12 col-md-12 col-lg-4 ">
            <div class="container-sm">
                <!-- Content here -->
                <h1 style=" font-size: 30px; margin: 0px; text-align: left;">Scopri come nasce una maglia matta</h1>
                <br/>
                <h2 style="font-size: 20px; margin: 0px; text-align: left; color:hsl(178, 79%, 45%)"></h2><br/>
            </div>
        </div>

    </div>
</div>
<br><br>
<hr>
<div class="parallax"></div>
<hr>
<br><br>
<!--div-- class="containerg">
    <div class="boxg">
        <img src="{% static 'main/g1.jpg' %}" alt=''>
        <span></span>
    </div>
    <div class="boxg">
        <img src="{% static 'main/g2.jpg' %}" alt=''>
        <span></span>
    </div>
    <div class="boxg">
        <img src="{% static 'main/g3.jpg' %}" alt=''>
        <span></span>
    </div>
    <div class="boxg">
        <img src="{% static 'main/g4.jpg' %}" alt=''>
        <span></span>
    </div>
    <div class="boxg">
        <img src="{% static 'main/g5.jpg' %}" alt=''>
        <span></span>
    </div>
    <div class="boxg">
        <img src="{% static 'main/g6.jpg' %}" alt=''>
        <span></span>
    </div>
    <div class="boxg">
        <img src="{% static 'main/g7.jpg' %}" alt=''>
        <span></span>
    </div>
    <div class="boxg">
        <img src="{% static 'main/g8.jpg' %}" alt=''>
        <span></span>
    </div>
</div-->

<div class="container">

    <section class="containergrid">

        <div>
            <img src="{% static 'main/magliamatta1.jpg' %}" alt="First description" />
            <span class="description"></span>
        </div>
        <div>
            <img src="{% static 'main/magliamatta2.jpg' %}" alt="Second description">
            <span class="description"></span>
        </div>
        <div>
            <img src="{% static 'main/magliamatta15.jpg' %}" alt="Third description">
            <span class="description"></span>
        </div>
        <div>
            <img src="{% static 'main/magliamatta4.jpg' %}" alt="Fourth description">
            <span class="description"></span>
        </div>
        <div>
            <img src="{% static 'main/magliamatta5.jpg' %}" alt="Fifth description">
            <span class="description"></span>
        </div>
        <div>
            <img src="{% static 'main/magliamatta3.jpg' %}" alt="Sixth description">
            <span class="description"></span>
        </div>
        <div>
            <img src="{% static 'main/magliamatta7.jpg' %}" alt="Seventh description">
            <span class="description"></span>
        </div>
        <div>
            <img src="{% static 'main/magliamatta14.jpg' %}" alt="Eighth description">
            <span class="description"></span>
        </div>
        <div>
            <img src="{% static 'main/magliamatta9.jpg' %}" alt="Ninth description">
            <span class="description"></span>
        </div>
        <div>
            <img src="{% static 'main/magliamatta8.jpg' %}" alt="Tenth description">
            <span class="description"></span>
        </div>
        <div>
            <img src="{% static 'main/magliamatta11.jpg' %}" alt="Eleventh description">
            <span class="description"></span>
        </div>
        <div>
            <img src="{% static 'main/magliamatta12.jpg' %}" alt="Twelfth description">
            <span class="description"></span>
        </div>
    </section>

</div>



<br/>
<br/>

<script>
var vid = document.getElementById("video");

  vid.volume = 0.1;

</script>


{% endblock %}

