{% extends 'base.html' %}
{% load static %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MagliaMatta</title>
</head>
<body>
<div class="container" style=" justify-content: center;">
    <div class="row">
        <div class="col-lg-12" style=" ">
            <div class="box-element" id="form-wrapper" style="width: 100%">
                <div class="col-12">
                    <a style="" class="btn btn-outline-dark btn-block"
                       href="{% url 'main:home' %}">&#10502; Shop</a>
                </div>
                <br><br>
                <h2>COOKIE POLICY</h2>
                <br>
                <p>La nostra Cookie Policy ha l'intento di descrivere le tipologie di cookie utilizzati dalla nostra applicazione www.magliamatta.com (di seguito "Applicazione"), le finalità, la durata e le modalità con cui l'Utente può gestire i cookie presenti.</p>
                <p>Il titolare del trattamento dei dati personali è Marta Colombo Genova martam.colombo@gmail.com (di seguito il "Titolare").</p>
                <br>
                <h3>1.	COSA SONO I COOKIE</h3>
                <p>I cookie sono stringhe di testo di piccole dimensioni che vengono memorizzate sul dispositivo dell'Utente quando naviga in rete. I cookie hanno lo scopo di raccogliere e memorizzare informazioni relative all'Utente al fine di rendere l'Applicazione più semplice, più veloce e più aderente alle sue richieste.</p>
                <p>Con il termine cookie si vuol far riferimento sia agli stessi cookie sia a tutte le tecnologie similari.</p>
                <p>L'Utente può bloccare i cookie, eliminarli o disattivarli nelle impostazioni del dispositivo o del browser come di seguito indicato nel paragrafo relativo a "Gestione dei cookie".</p>
                <br>
                <h3>2.	TIPOLOGIE DI COOKIE USATI DA QUESTA APPLICAZIONE </h3>
                <p>Questa Applicazione usa i seguenti cookie:</p>
                <br>
                <p>o	Cookie tecnici di prima parte: sono cookie che appartengono al Titolare dell'Applicazione e che raccolgono dati dell'Utente accessibili solo al Titolare. L'Applicazione usa questi cookie per svolgere attività strettamente necessarie al funzionamento dell'Applicazione e all'erogazione del servizio o per raccogliere informazioni, in forma aggregata e anonima, per finalità statistiche. Questi cookie non profilano l'Utente. Per l'uso di questi cookie non è richiesto il consenso dell'Utente.</p>
                <p>o	Non viene fatto uso di cookie di terza parte.</p>
                <br>
                <h3>3. DURATA DEI COOKIE</h3>
                <p>I cookie hanno una durata dettata dalla data di scadenza o da un'azione specifica, come la chiusura del browser impostata al momento dell'installazione. I cookie possono essere:</p>
                <br>
                <p>o	temporanei o di sessione: sono utilizzati per archiviare informazioni temporanee, consentono di collegare le azioni eseguite durante una sessione specifica e vengono rimossi dal dispositivo dell'Utente alla chiusura del browser;</p>
                <p>o	persistenti: sono utilizzati per archiviare informazioni, ad esempio il nome e la password di accesso, in modo da evitare che l'Utente debba digitarli nuovamente ogni volta che visita un sito specifico. Questi rimangono memorizzati nel dispositivo dell'Utente anche dopo aver chiuso il browser.</p>
                <br>
                <h3>4. GESTIONE DEI COOKIE</h3>
                <br>
                <p>L'Utente può gestire le preferenze relative ai cookie direttamente all'interno del proprio browser ed impedire che terze parti possano installare i cookies. Tramite le preferenze del browser è inoltre possibile eliminare i cookie installati in passato, incluso il cookie in cui è stato eventualmente salvato il consenso. Disabilitando tutti i cookie, il funzionamento di questa Applicazione potrebbe risultare compromesso.</p>
                <br>
                <p>L'Utente può cancellare tutti i cookie presenti sul suo dispositivo semplicemente selezionando, sul proprio browser, le impostazioni che consentono di rifiutarli. Ogni browser ha specifiche istruzioni di configurazione che possono essere trovati sul sito internet del fornitore del browser ai seguenti link:</p>
                <ul>
                    <li><a  href="https://support.apple.com/it-it/guide/safari/nnanage-cookies-and-website-data-sfri11471/">Apple Safari</a> </li>
                    <li><a  href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=it">Google Chrome</a> </li>
                    <li><a  href="https://support.mozilla.org/kb/enable-and-disable-cookies-website-preferences">Mozilla Firefox</a> </li>
                    <li><a  href="http://windows.microsoft.com/internet-explorer/delete-manage-cookies">Internet Explorer</a> </li>
                    <li><a  href="https://support.microsoft.com/it-it/help/4027947/microsoft-edge-delete-cookies">Microsoft Edge</a> </li>
                    <li><a  href="https://www.opera.com/help/tutorials/security/privacy/">Opera</a> </li>
                </ul>
                <br>
                <p>Inoltre si può procedere alla cancellazione dei cookie di terze parti chiedendo l'opt-out direttamente alle terze parti o tramite il sito <a  href="http://www.youronlinechoices.com">YOURONLINECHOICES</a>, dove è possibile gestire le preferenze di tracciamento della maggior parte degli strumenti pubblicitari.</p>
                <!--br>
                <p>Per	modificare	le	impostazioni	relative	ai	cookie	Flash	si	può	cliccare	sul	seguente	link
                    <a  href="https://www.macromedia.com/support/documentation/englashplayer/help/settings manager07.html">Macromedia</a>.
                </p-->
                <br>
                <h3>5. DIRITTI DELL'UTENTE</h3>
                <br>
                <p>Gli Utenti possono esercitare determinati diritti con riferimento ai dati personali trattati dal Titolare. In particolare, l'Utente ha il diritto di:</p>
                <ul>
                    <li>revocare il consenso in ogni momento;</li>
                    <li>opporsi al trattimento dei propri dati personali;</li>
                    <li>accedere ai propri dati personal;</li>
                    <li>verificare e chiedere la rettificazione;</li>
                    <li>ottenere la limitazione del trattimento;</li>
                    <li>ottenere la cancellazione o rimozione dei propri dati personali;</li>
                    <li>ricevere i propri dati personali o farli trasferire ad alro titolare;</li>
                    <li>proporre reclamo all'autorità di controllo della protezione dei dati personali e/o agire in sede giudiziale.</li>
                </ul>
                <p>Per esercitare tali diritti, scrivere al Titolare: martam.colombo@gmail.com</p>
                <p>Le richieste sono effettuate a titolo gratuito ed evase dal Titolare nel più breve tempo possibile, in ogni caso entro 30 giorni.</p>
                <br>
                <p>Le ulteriori informazioni riguardo al trattimento dei dati personali si possono trovare nell'informativa privacy al seguente link www.magliamatta.com.</p>
                <br>
                <p>Ultimo aggiornamento: 19/01/2021</p>
                <br><br>
                <div class="col-12">
                    <a style="" class="btn btn-outline-dark btn-block"
                       href="{% url 'main:home' %}">&#10502; Shop</a>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>

{% endblock %}