{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
    <script src="{% static 'main/js/jquery-3.5.1.min.js' %}"></script>
    <meta charset="UTF-8">
    <title>MagliaMatta</title>
    <style>
        ul {
        display: block;
        list-style-type: circle;
        margin-top: 1em;
        margin-bottom: 1 em;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0px;
        }
    </style>

</head>
<body >

<br/>
<div class="container">
        <div class="row">
            <div class="col-lg-9 mt-4 text-center">
                <div class="box-element">
                    <h1 style="mt-2; padding-left:10px ; font-size: 35px; ; text-align: left;">{{ product.title }}</h1>
                    <img src="{{ product.image.url }}" class="img-fluid mt-2 pb-0"  height="600"
                         style ="box-shadow:hsl(34, 76%, 34%) 3px -3px 14px;">
                    <br/>
                        <div class="row pt-2">
                            <div class="col-lg-4">
                                <a style="" class="btn btn-outline-dark btn-block"
                                   href="{% url 'main:home' %}"><i class="fas fa-chevron-left"></i> Shop</a>
                            </div>
                            <div class="col-lg-4">
                                <h2 style="text-align:center;">Dettagli</h2>
                            </div>
                            {% if product.stock > 0 %}
                            <div class="col-lg-4">

                                {% if product.stock > 0 %}
                                {% if user.is_anonymous %}
                                {% if product.id not in zerostock  %}
                                    <button data-product="{{product.id}}" data-action="add"
                                            class = "btn btn-outline-dark add-btn update-cart btn-block">Carrello <i class="fas fa-chevron-right"></i></button>
                                {% endif %}
                                {% if product.id  in zerostock  %}
                                    <button disabled data-product="{{product.id}}" data-action="add"
                                            class = "btn btn-outline-dark add-btn update-cart btn-block"> Già nel Carrello</button>
                                {% endif %}
                                {% endif %}
                                {% if user.is_authenticated %}
                                {% if product.id not in zerostock2  %}
                                    <button data-product="{{product.id}}" data-action="add"
                                            class = "btn btn-outline-dark add-btn update-cart btn-block">Carrello <i class="fas fa-chevron-right"></i></button>
                                {% endif %}
                                {% if product.id  in  zerostock2  %}
                                    <button disabled data-product="{{product.id}}" data-action="add"
                                            class = "btn btn-outline-dark add-btn update-cart btn-block"> Già nel Carrello</button>
                                {% endif %}

                                {% endif %}

                                {% endif %}
                            </div>


                            {% endif %}
                        </div>


                    <h1 class="mt-2" style="pt-3; font-size: 25px; margin: 0px; text-align: left;">{{ product.title }}</h1>
                    <h2 class="mt-2" style="font-size: 20px; margin: 0px; text-align: left;
                                        color:#d98d76">{{ product.description }}</h2><br/>
                    <p style="font-size: 16px; line-height: 24px; text-align: left;">
                                        {{ product.text }}</p>
                    <!--  |linebreaks   to devide paragraphs -->
                    <p style="font-size: 16px; line-height: 24px; text-align: left;">
                    <p>Taglia: {{ product.size }}</p>
                    <p>Prodotto_Code: {{ product.id }}</p>
                    {% if product.stock > 0 %}
                        <h6>Disponibile solamente: {{ product.stock }} </h6>
                    {% endif %}

                    <div>Prezzo:
                        {% if product.discount_price %}
                        <del>{{ product.price }}€</del>
                        <h3>
                            <span style="color:red">{{ product.discount_price }}€</span>
                        </h3>
                        {% else  %}
                        <h3>{{ product.price }}€</h3>

                        {% endif %}
                    </div>

                    <a style="mt-4; font-size: 16px; line-height: 24px; text-align: left"
                            class="nav-link " href="{{ product.url }}" target="_blank">{{ activity.url }}</a>

                </div>
            </div>

            <div class="col-lg-3  col-sm-12 mt-4">
                <div class="box-element">

                    <!-- Content here -->
                    <h6 class="pb-1 mb-1" style="; pb-0; font-size: 25px; margin: 0px; text-align: left;">Altri prodotti</h6>

                    {% for product in products %}
                    {% if product.active %}

                        <a  href="{% url 'main:details' product.id %}">
                            <img  src="{{ product.imageURL }}"
                                  style ="box-shadow:hsl(34, 76%, 34%) 3px -3px 14px;"
                                  class="img-fluid" width="400" ></a>
                        <h4 class=" pt-2 mb-0">{{ product.title }} </h4>
                        <p>Taglia: {{ product.size }}</p>
                        <hr>

                    {% endif %}
                    {% endfor %}

                </div>
            </div>
                </div>
            </div>
    </div>
</div>
<br/>
<br/>
<br/>
</body>
</html>

{% endblock %}
