{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
ul {
display: block;
list-style-type: circle;
margin-top: 1em;
margin-bottom: 1 em;
margin-left: 0;
margin-right: 0;
padding-left: 0px;
}
</style>

<br/>
<div class="container">
        <div class="row">
            <div class="col-lg-9 mt-4 text-center">
                <div class="box-element">
                    <h1 style="mt-2; font-size: 35px; margin: 0px; text-align: left;">{{ product.title }}</h1>
                    <img src="{{ product.image.url }}" class="img-fluid mt-2 pb-2"  height="600">
                    <br/>
                        <div class="row">
                            <div class="col-lg-4">
                                <a style="" class="btn btn-outline-dark btn-block"
                                   href="{% url 'main:home' %}">&#10502; Shop</a>
                            </div>
                            <div class="col-lg-4">
                                <h2 style="text-align:center;">Details</h2>
                            </div>
                            <div class="col-lg-4">
                                <button style="" data-product="{{product.id}}" data-action="add"
                                        class = "btn btn-outline-secondary add-btn update-cart btn-block ">Carello &#10503</button>
                            </div>
                        </div>


                    <h1 class="mt-2" style="pt-3; font-size: 25px; margin: 0px; text-align: left;">{{ product.title }}</h1>
                    <h2 class="mt-2" style="font-size: 20px; margin: 0px; text-align: left;
                                        color:#d98d76">{{ product.description }}</h2><br/>
                    <p style="font-size: 16px; line-height: 24px; text-align: left;">
                                        {{ product.text }}</p>
                    <!--  |linebreaks   to devide paragraphs -->
                    <p style="font-size: 16px; line-height: 24px; text-align: left;">
                    {{ product.price }}€<br>
                    {{ product.discountprice }}€<br>
                    Size: {{ product.size }}<br>
                    Discount: {{ product.discount }}</p>
                    <a style="mt-4; font-size: 16px; line-height: 24px; text-align: left"
                            class="nav-link " href="{{ product.url }}" target="_blank">{{ activity.url }}</a>
                </div>
            </div>

            <div class="col-lg-3  col-sm-12 mt-4">
                <div class="box-element">

                    <!-- Content here -->
                    <h6 class="pb-1 mb-1" style="; pb-0; font-size: 25px; margin: 0px; text-align: left;">Other Products </h6>

                    {% for product in products %}

                        <a  href="{% url 'main:details' product.id %}"><img  src="{{ product.imageURL }}"
                                                                             class="img-fluid pb-2" width="400" ></a>
                        <h4>{{ product.title }}</h4>
                        <p>Size: {{ product.size }}</p>
                        <hr>

                    {% endfor %}

                </div>
            </div>
                </div>
            </div>
    </div>
</div>







<br/>
<br/>
<br/>
{% endblock %}