Ciao {{customer}},

Mille grazie per il tuo ordine su www.Magliamatta.com.

Prepareremo e spediremo il tuo ordine (numero ordine: {{order}}) il prima possibile.

Hai ordinato i seguenti prodotti:

{{items}}

Spediremo al seguente indirizzo:

{{shipping_name}}
{{shipping_address}}
{{shipping_zip}} {{shipping_city}}
{{shipping_state}}
{{shipping_country}}

Se hai domande riguardanti il tuo ordine, ti preghiamo di contattarci tramite e-mail o telefono.


Molte grazie.

Il tuo Atelier creativo MagliaMatta