{% extends 'base.html' %}
{% load static %}
{% block content %}

<br/>
<div class="container">
    <h5>Register</h5>
    <br/><br/>

    <form method="post">
        {% csrf_token %}

        {{form.username.label}}: {{form.username}}<br>
        {{form.first_name.label}}: {{form.first_name}}<br>
        {{form.last_name.label}}: {{form.last_name}}<br>
        {{form.password1.label}}: {{form.password1}}<br>
        {{form.password2.label}}: {{form.password2}}<br>
        <br>
<ul>
    <p>Your password can’t be too similar to your other personal information.
    Your password must contain at least 8 characters.
    Your password can’t be a commonly used password.
    Your password can’t be entirely numeric.</p>
</ul>

        <button type="submit">Submit</button>
    </form>

</div>




<br/>
<br/>
<br/>
{% endblock %}