{% extends 'base.html' %}
{% load static %}
{% block content %}

<br/>
<br/>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div style="margin: auto" class="box-element " >

                <h5>Register</h5>

                <div style="margin: auto ; "></div>

                <form style="margin: auto; text-align: center" method="post">
                    {% csrf_token %}

                    {{form.username.label}}: {{form.username}}<br><br>
                    {{form.email.label}}: {{form.email}}<br><br>
                    {{form.first_name.label}}: {{form.first_name}}<br><br>
                    {{form.last_name.label}}: {{form.last_name}}<br><br>
                    {{form.password1.label}}: {{form.password1}}<br><br>
                    {{form.password2.label}}: {{form.password2}}<br><br>
                    <br>
                        <div style="margin: auto" class="col-md-12">
                            <p>Your password can’t be too similar to your other personal information.</p>
                               <p> Your password must contain at least 8 characters.</p>
                               <p> Your password can’t be a commonly used password.</p>
                              <p>  Your password can’t be entirely numeric.
                            </p>

                        </div>

                    <button  class="btn btn-success btn-block" type="submit">Submit</button>
                    <br>
                    <div class="d-flex justify-content-center links">
                        Already have an account? <a href="/login" class="ml-2">Login</a>
                    </div>


                </form>




            </div>
        </div>

    </div>
</div>






<br/>
<br/>
<br/>
{% endblock %}