#header {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: #613DC1;
    color: #574AE2;
    overflow: hidden;
}